doctype html
html
  head
    title Services
  body
    nav
      ul
        li
          a(href="homepage") Home
       
        li
          a(href="ourservices") Services
        li
          a(href="contactus") Contact
    main
      h1 Welcome to My Website
      p This is a simple Pug template with a navigation bar.
